*{
    background-color: chocolate;
}

h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8rem;
    text-align: center;
    padding-left: 32%;
    margin-top: -680px;

}